<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>DIY RECITAL</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
      <div id="header">DIY RECITAL</div>
      <img id="top-image" src="/assets/images/image.jpeg">
      <nav id="links">
        <ul>
            <li>
                <a id="works" href="https://google.co.jp">Works</a>
            </li>
            <li>
                <a id="news" href="https://yahoo.co.jp">Diy News</a>
            </li>
        </ul>
      </nav>
    </body>
</html>
